{% layout settings.customer_layout %}

<div id="template" class="frame">
  <div class="pure-g-r">
    <div class="pure-u-1-2 pur-u-med-1-2 pure-form standard pure-form-stacked">
          <h1>RESET YOUR PASSWORD</h1>
          
      
               {% form 'reset_customer_password' %}
                {{ form.errors | default_errors }}
      
                <div class="clearfix large_form">
                 
                  <input placeholder="new password" type="password" value="" name="customer[password]" id="customer_password"  class="large" size="30" />
                </div>
      
                <div class="clearfix large_form">
                 
                  <input placeholder="CONFIRM new PASSWORD" type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large" size="30" />
                </div>
      
                
      
                <div class="action_bottom">
                  <input class="pure-button secondary" type="submit" value="Reset Password" />
                 
                </div>
              {% endform %}
      
         
        </div>
        <div class="pure-u-1-2 pur-u-med-1-2 pure-form standard pure-form-stacked">

    	</div>
    
    
  </div>

 

  
</div>
