@font-face {
    font-family: 'hoola-reg';
    src: url('brandongrotesque-regular-webfont-webfont.eot');
    src: url('brandongrotesque-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-regular-webfont-webfont.woff') format('woff'),
         url('brandongrotesque-regular-webfont-webfont.ttf') format('truetype'),
         url('brandongrotesque-regular-webfont-webfont.svg#brandon_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hoola-med';
    src: url('brandongrotesque-medium-webfont-webfont.eot');
    src: url('brandongrotesque-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-medium-webfont-webfont.woff') format('woff'),
         url('brandongrotesque-medium-webfont-webfont.ttf') format('truetype'),
         url('brandongrotesque-medium-webfont-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hoola-bold';
    src: url('brandongrotesque-bold-webfont-webfont.eot');
    src: url('brandongrotesque-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-bold-webfont-webfont.woff') format('woff'),
         url('brandongrotesque-bold-webfont-webfont.ttf') format('truetype'),
         url('brandongrotesque-bold-webfont-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* #styles.css.liquid
================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


body { 
    background-color: #fff;
    
    
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
    font-smoothing: antialiased;

    
      font-family: 'hoola-reg', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      

    font-weight: normal;      
    font-size: 12px; 
    text-transform: none;
    color: #231f20;
    line-height: 1.7em;
    padding-top: 30px;
    border-top: 5px solid #ffac00;
}

  h1, h2, h3, h4, h5, h6, .title a, #cost, #steps { 
    
      font-family: 'hoola-reg', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      

    font-weight: normal;    
    text-transform: uppercase;
    color: #ffffff;
    display:block;
    
}




a, a:visited { padding-left: 10px; color: #231f20; text-decoration: underline; outline: 0; -webkit-transition: color 0.3s ease-out 0s; -moz-transition: color 0.3s ease-out 0s; -o-transition: color 0.3s ease-out 0s; transition: color 0.3s ease-out 0s;  }
a:hover, a:focus { color: #ffac00; }
table a:active, table a:hover {color: #ffac00;}
a.button, 
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #ffac00;
border: 0;
padding: 11px 25px;
text-align: center;
text-decoration: none;
font-size: 14px;
cursor: pointer;
letter-spacing: 2px;
font-weight: normal;
text-transform: uppercase;
color: #fff;
transition: all .2s linear;
-o-transition: all .2s linear;
-moz-transition: all .2s linear;
-webkit-transition: all .2s linear;
margin-bottom: 0px;
-webkit-appearance: none;
display:inline-block;
font-family: 'hoola-med';

}
#buttons input {padding: 14px 20px;
font-size: 12px;letter-spacing: 0.15em;margin-right: 20px;}
a.button:hover, 
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover { 
  
  background: #ffc54c; }
  


.button.full-width, 
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  background-color: #ebebeb;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:underline;
}
table a:visited {
  color: #231f20;
  font-weight:bold;
  text-decoration:underline;
}
table a:active,
table a:hover {
  color: #ffac00;
  text-decoration:underline;
}
table {
  
  font-size:12px;
  text-shadow: none;
  background:#fff;
  border:none;
  margin-bottom: 20px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;

}
table th {
  padding:15px 20px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr{
  text-align: center;
  padding-left:12px;
}
table tr td:first-child{
  text-align: left;
  padding-left:12px;
  border-left: 0;
}
table tr td {
  padding:12px;
  border-bottom:none;
  border-left: none;

  background: #fff;
  
}

table tr td.value input {
  margin-bottom: 0;
}
table tr.even td{
  background: #000;
}

table tr:hover td{
  background: #fff;
}
#email, #addresses {

  background: #fff;
  border: none;

}
#email input {
width:43%;
}
.group {
  background: #fff;
  border: none;
  margin-bottom: 0;
}
form { 
  margin-bottom: 20px; }
fieldset { 
  margin-bottom: 20px; }
  select {
    text-transform: uppercase;
  }
input[type="text"], 
input[type="number"],
input[type="password"],
input[type="email"],
textarea, 
select {
  border: none;
  padding: 6px 4px;
  outline: none;

  border-radius: 0px;
  font: 13px 'hoola-reg', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; 
  font-wieght:normal;

  border: 1px solid #ccc;
background: #fff;
padding: 6px 4px;
outline: none;
font-size: 13px;
color: #231f20;
margin: 0;
width: 210px;
max-width: 100%;
display: block;
margin-bottom: 20px;

}
#content p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#content {
  padding: 0;
}
#customer-login-link {
  text-transform: uppercase;
}
select { 
  padding: 0; }
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus, 
textarea:focus {
  border: 1px solid #3b3939; }
label,
legend { 
  display: block;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase; 
  letter-spacing: 0.1em }
select { 
  width:100%; }
input[type="checkbox"] {
  display: inline; }
label span,
legend span {
  font-weight: normal;
  font-size: 14px;
  color: #444; }

textarea#note {
  width: 100%
}

#container {
  margin-top: 0;
  max-width: 1280px;
  padding: 0 30px;
}
/* #Checkout
================================================== */

#container, #header, #main, #footer {
  width: 100%;
}

span.sign-in-message {
  font-size: smaller;
}
#info-bar {
background: #232323;
  background: rgba(0,0,0,0.85);
border-bottom: none;
color: #404040;
text-align: center;
padding: 0;
position: fixed;
left: 0;
bottom: 0;
font-size: 80%;
width: 100%;
  top: auto;
}

  #tagline {display:none;}
  #logo {display:block;  width: 60%; margin: 0 auto;  top:0px; left:0;
  text-align: center;
  padding: 38px 0 50px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: url('//cdn.shopify.com/s/files/1/0214/4152/files/checkout-logo-2.png?7147') no-repeat center top;
  margin-bottom: 50px;
  margin-top: 0px;
  border-bottom: solid 1px #f1f2f2;
}


#container.slim #header, #container.slim #main {
  width: auto;
}
#cost {
  margin-top: 20px;
  font-size:40px;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0;
        text-shadow:none;
}

#steps {
  font-size: 20px
}

#wallet br {
  display: none;
}
#container.slim {
  width: 940px;
}

#thumbs {
  margin: 0;
  max-width: 467px;
}

#thumbs h3 {
  font-size: 170%;
}

#thumbs div {
  border:none;
}

#thumbs td {
  text-align: left;
  vertical-align: top;
}

#header {
  background: none;
}

#main {
  background: none;
  border: none;
        background:#000;
}

#footer {
  background: none;
  font-size: 12px;
  padding-top: 50px;
  text-transform: uppercase;
}

#buttons {
  background: none;
  border-bottom: none;
}

#overview, #container.slim #header {
  background: none;
  border-bottom: none;
}

#container.slim #main {
  background: none;
}

#container.slim #footer {
  background: none;
}

#overview .hint {
  color: #231f20;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#products {
 
  width: 50%;
  border-right: solid 1px #f1f2f2;
}
#thumbs img {
  float: left;
}
#thumbs td div {
 

float: left;
margin-right: 6px;
}

#thumbs h3 {
  text-align: left;
  font-size: 10px !important;
  font-weight:  normal !important;
  margin-top:0;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
h3.plisthead {
  border-bottom: none;
  line-height:20px;
  text-transform: none;
}

#thumbs span, #thumbs h3.plisthead span {
  color: #231f20;
}

#cost {
  color: #231f20;
  margin-top: -6px;
  font-size: 55px !important;
}

#addresses tr td input, #addresses tr td select {
  margin-bottom: 0;
  width: 100% !important;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#addresses td {  
  padding: 10px;
}
#addresses td {
  width: 50%;
}
#addresses ul, #addresses ul li {
  border:none;
}
.form ul.inline li {
  margin-right: 0;
}
#addresses tr td input#shipping-toggle {
  width: auto !important;
}
#addresses tr td ul.inline li select,
#addresses tr td ul.inline li label,
#addresses tr td ul.inline li input {
  width: 50% !important;
  float: left;
  
}

#addresses ul.inline li {
  width: 100% !important;
  margin-bottom: 17px;
  margin-right: 0 !important;
}

#addresses #billing_address_province_li {
  margin-bottom: 0;
}
#billing-is-shipping label {
  display: inline;
  font-size: 15px;
}
.footer p {
  text-transform: uppercase;
  font-size: 10px;
  color: #231f20;
  letter-spacing: 0.1em;
}

#payment-methods, #payment-methods li {
  border:none;
}

#payment-methods li label {
  display: inline;
}

table {
    width: 100%;
}

table tr td {
  text-align:left;
}
.gleft {
  width: 43%;
}
.gright {
  margin-left: 56%;
padding-left: 0;
width: 44%;
}
.sst .gleft {
  width: 50%;
}

#credit-card-info {
  margin-left: 50%;
  padding-left: 0;
  width: 50%;
}
#credit-card-info input {
  width: 90%;
  margin-bottom: 34px;
}




#purchase-form #credit-card-info label {
  display: block;
}
#credit-card-info input#credit_card_verification_value {
  margin-top: 7px;
  width: 157px;
  float: left;
  margin-bottom: 0;
}
#payment-method table input#credit_card_number {
width: 100%;
margin-top: 5px;
margin-bottom: 28px;
}
.sst label {
  display: inline;
}
#credit-card-info span.hint {
  float: left;
  margin-top: 12px;
  text-transform: uppercase;
  margin-left: 34px;
  text-decoration: underline;
  letter-spacing: 0.05em;
}
#marketing-box p.sst {
  margin-top: 28px;
}
#newsletter {
  margin-bottom: 60px;
}
#credit_card_month, #credit_card_year {
  display:inline;
  margin-top:5px;
  margin-right:0 !important;
  background-color:#ebebeb;
  margin-bottom:14px;
}

#wallet {
  text-align:right;
  margin-left:0;
  width:50%;
  float: left;
  padding: 0;
}

small {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#overview h2 {
  font-size: 150%;
  margin-bottom: 13px;
  letter-spacing: 0.15em;
 
  
  font-weight: 700;
}

body {
  font-size: 110%
  color: #333 !important;
}
.group h4 {
  font-size: 150%;
margin-bottom: 13px;
letter-spacing: 0.1em;
border-bottom: solid 1px #ccc;
padding-bottom: 5px;
font-weight: 700;
}
#main {
  background: #fff !important;
}
#create-account-btn {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
        font-size: 18px !important;
        font-family: 'hoola-med', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-weight:300 !important;
  color: #231f20 !important;
}

span.sign-in-message {
  font-size: inherit;
}
      
      .group h3, .pgroup h3 {

border-bottom: solid 1px #f1f2f2;
padding-bottom: 6px;
letter-spacing: 0.13em;
margin-bottom: 17px; 
      }
      
      
      
 .address-notification {
background: #ffefeb;
border: none;
color: #231f20;
text-align: left;
padding: 5px;
        
  border: 0;
background: #fff;      
    margin-top:0px;
    text-transform:uppercase;
    font-size:15px;  
    letter-spacing: 0.1em;  
}
      
      
      .field-with-errors .error-message {
color: #ffac00;
font-weight: bold;
text-transform: uppercase;
}
      
.field-with-errors {
  background-color: #fff;
  border: 0;
  padding: 0;
  line-height: 140%;
  color: #ffac00;
}
      
      
      
      #cost, #order-num {
        
       
font: 460%  'hoola-med', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
color: #231f20;
text-shadow: none;
display: block;
letter-spacing: 0.07em;
font-weight: bold;
}
      
      #overview .hint {
        font-style: normal;
      
     }
      #discounts-body-link {
        text-transform: uppercase;
        font-size: 14px;
      }
      #overview {
        padding-bottom: 50px;
      }
      #discounts-body #discount_code, #gift-card-number #gift_card_code { margin-right: 13px; padding: 7px; background: #fff; width: 36%;

      }
      #discounts-body input, #gift-card-number input { float: left; padding: 7px 38px;

      }
      #steps {
        margin-top: 30px;
        font: 24px  'hoola-med','Lucida Grande', Helvetica, Arial, sans-serif !important;
        color: #cccccc;
          font-style: normal;

        text-transform: uppercase;

        width: 100%;
        float: right;
        letter-spacing: 0.1em;
        font-weight: 700;
        
        }

      #shipping-rates {
        width: 100%;
        background-color: #f1f2f2;
        margin-bottom: 0;
        letter-spacing: 0.1em;
        font-size: 12px;
        font-family: 'hoola-med';
      }
      #payment { position:static; padding-top:0; }
      #payment p {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
      }   
      #payment p.sst {
        margin-bottom: 0;
      }   
      
      h4.active-customer {
        padding-top:15px;
        font-size:14px !important;
        text-transform: lowercase;
        
      }
      
 table tr {
       padding-left:0; 
      }      
      
      #addresses td {
  line-height:29px;
        padding-left:0;
        padding-right:0;
}
      
     
      
      input:-webkit-autofill { 
        background: #242323;
          color:#fff;
        
        }
      
        #purchase-form label {display:inline; padding-bottom:8px;} 
    #payment-method table tr td:first-child,
    #payment-method table tr td {
      padding:0;
          padding-right:0;
    }    
        #buttons {

        }
        #buttons td,  #buttons table tr td {padding-left:0;}   
        
        #payment-method p.hint {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.1em;
        }
        #payment-method div.sst {
          padding-top: 24px;
        }
        #payment-method table input {
          width: 91%;
          margin-top: 5px;
        }
        select {
          padding: 6px 8px;
          background-color: #ebebeb;
          background-image: url(//cdn.shopify.com/s/files/1/0340/0453/t/2/assets/checkout-select.png?8689);
          background-repeat: no-repeat;
          background-position: 100% 50%;
        } 
        
        #customer-login-link { text-transform:uppercase;
          font-weight: bold;
          padding-left: 5px;
          }
        
        #buttons input {
font-weight: normal;

}
        
        span.sign-in-message {
font-size: 14px;
margin-left: 5px;
letter-spacing: 0.1em;
text-transform: uppercase;
}



 
 #email label {
   font-size: 18px;
   font-weight: bold;
 }
        
 #email input {
font-size: 14px;
margin-bottom: 31px;
}
#credit_card_year {

    width: 47%;
    margin-left: 4%;
}   
#credit_card_month {

  width: 48%;
  margin-left: 0;;
}

        .highlight { font-weight:bold;}
        
        input[tpye=text], textarea, select {
    border-radius: 0;
    -webkit-appearance: none;
    color: #231f20;
}
        
        #tax_span, #shipping_span {display:block;}
        
        
        .step2 #steps {display:;}
        
        
        .flash.notice {
          background: none;
          border: none;
        }
        
        .flash {
          color: #ffac00;
          font-size: 12px;
          text-transform: uppercase;
          font-family: 'hoola-bold';
          letter-spacing: 0.1em;
          padding: 5px 0;
        }
        
        
        #shop-policies a {
          letter-spacing: 0.1em;
        }
        
      
          table#thumbs {
            max-width: 100%;
          }