
<section class="frame">
    <div class="about-page">
        
        <article class="page-content full">
               <h1 class="hide-desktop">{{ page.title }}</h1> 
                {{ page.content }}
        </article>
    </div>
</section>